
/*
    Default style
================================*/
.asterisk {
    color: red;
}

.bold{
    font-weight: bold !important;
}
.circle{
    border-radius: 50% !important;
}
.label-sm {
    font-size: 11px;
}

.login-logo a img{
    width: 300px;
    display: table;
    margin: 0 auto;
}


.company-logo img{
    width: 150px !important;
}

.image > a > img{
    width: 50px !important;
    display: block;
    overflow: hidden;
}

.custom-button i {
    margin-left: 5px;
}

.scrollme {
    overflow-y: auto;
}

.custom-btn{
    color: #fff !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    text-align: left !important;
    font-size: 13px;
    font-weight: bold;

}

.custom-pagination{
    float: right;
}

.map-marker{
    color: #D32F2F;
}

.custom-url{
    text-align: end;
	margin-left: 10px;
    overflow: hidden;
    font-size: 18px;
}

.icon-download{
    color: #1565C0;
}

.x-axis {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}


.siku{
    width: 70px;
}

#map1, #map2 {
    height: 400px;
}

.error-red {
    color: #D32F2F;
    display: none;
}


/*
    model header information
================================*/
.modal-header {
    background-color: #0b58a2;
    color: #fff !important;
}

.modal-title {
    font-size: 20px !important;
    text-transform: capitalize;
}

.close {
    color: #fff !important;
}


/*      SEARCH INFORMATION
================================*/
div#buoyTable_filter{
    float: right;
}

input.form-control.input-sm {
    margin-left: 10px;
}


.fade-alert {
    background-color: #4CAF50 !important;
}

